extends layout

block content
  h1= title
  p Рады привествовть Вас на сайте для бронирования столиков ресторана "#{title}"! 
    | Здесь вы можете ознакомиться с перечнем доступных столиков и забронировать себе 
    | приглянувшиеся на удобное для вас время.

  //- h1 Перечень столиков
  if error 
    p Ошибка получения перечня столов
  else 
    p На данный момент в зале имеются:
    
    ul 
      li !{data.tables_count} столиков
	  
    div
       img(src='/images/rest.jpg', alt='Описание изображения', width = '800' )
  