extends layout

block content
  h1 Меню

  img(src='/images/cesar.jpg', alt='Описание изображения', width = '200' )
  p Салат Цезарь, 270p	
  img(src='/images/desert.jpg', alt='Описание изображения', width = '200' )
  p Торт "Клубничный", 180р
  img(src='/images/image.jpg', alt='Описание изображения', width = '200' )
  p Лосось в соусе, 350р
  img(src='/images/pasta.jpg', alt='Описание изображения', width = '200' )
  p Паста Карбонара, 320р
  img(src='/images/sup.jpg', alt='Описание изображения', width = '200' )
  p Суп "Сливочный", 250р
  